.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gridBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 18rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid grey;
}

.resultText {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align:center;
}